<h1>Übersicht</h1>
<br/>

<table class="table">
  <tr>
    <th>Name</th>
    <th>E-Mail</th>
    <th>Bestellungen</th>
    <th></th>
    <th></th>
  </tr>

  <% @customers.each do |customer| %>
      <% orders = customer.orders %>
      <tr>
        <td><%= "#{customer.salutation} #{customer.name}<br>#{customer.street_name} #{customer.street_number}<br>#{customer.zip_code} #{customer.city}".html_safe %></td>
        <td><%= mail_to customer.email %></td>
        <td>
          <table class="table table-bordered">

            <% orders.each do |order| %>
                <% rows = order.get_short_summary %>
                <tr>
                 <td>
                  <table class="table">
                  <% rows.each do |row| %>
                    <tr>
                      <% row.each do |field| %>
                          <td><%= field.to_s %></td>
                      <% end %>
                    </tr>
                <% end %>
                   </table>
                  <td>



                  </td>
                  <td>
                    <p><b>Ereignisse:</b></p>
                    <ul>
                      <li>Bestellung wurde angelegt am <%= order.created_at.in_time_zone("Berlin").to_s(:european_style) %>.</li>
                      <%= if order.order_status_id == "1" then "<li>Bestellung wurde aktiv.</li>".html_safe end %>
                      <%= if current_user.has_role? :admin then link_to "Bestellbestätigung verschicken" , url_for(:controller => "orders", :action => "send_confirmation_mail", :id => order.id) end %>
                      <%= if current_user.has_role? :admin then link_to "Aktivierungs-Mail verschicken" , url_for(:controller => "orders", :action => "send_gift_card_activation_mail", :id => order.id) end %>

                    </ul>

                  </td>
                </tr>
            <% end %>

          </table>
        </td>


      </tr>
  <% end %>
</table>

<br />

