<h3>Bitte geben Sie Ihre Daten ein:</h3>

<div id="customer-form-container">
  <%= form_tag url_for(:controller => "order_tickets_workflow", :action => "receive_customer_data"),:html => { :class => 'form-horizontal' } %>


      <div class="control-group">
        <%= label :designation, "Anrede", :class => 'control-label' %>
        <div class="controls">
          <%= label :designation_male, :class => 'radio' do %>
              Herr
              <%= radio_button_tag :designation, :male %>
          <% end %>
        </div>
        <div class="controls">
          <%= label :designation_female, :class => 'radio' do %>
              Frau
              <%= radio_button_tag :designation, :female %>
          <% end %>
        </div>
      </div>
      <div class="control-group">
        <%= label :first_name, "Vorname", :class => 'control-label' %>
        <div class="controls">
          <%= text_field :first_name, :class => 'text_field input-medium' %>
        </div>
      </div>
      <div class="control-group">
        <%= label :last_name, "Nachname", :class => 'control-label input-medium' %>
        <div class="controls">
          <%= text_field :last_name, :class => 'text_field input-medium' %>
        </div>
      </div>
      <div class="control-group">
        <%= label :email, "E-Mail", :class => 'control-label' %>
        <div class="controls">
          <%= text_field :email, :class => 'text_field input-medium' %>
        </div>
      </div>

      <div class="form-actions">
        <%= link_to "Abbrechen", "", :class => 'btn' %>
        <%= submit_tag "Weiter", :class => 'btn btn-warning' %>
      </div>

  </div>
</div>