<h3>Bitte geben Sie Ihre Daten ein:</h3>

<div id="customer-form-container">
  <%= simple_form_for(@customer, :url => url_for(:controller => "order_tickets_workflow", :action => "receive_customer_data"), :method => :post, :html => {:class => 'form-horizontal' }) do |f| %>

      <%= f.input :salutation, label: "Anrede" %>
      <%= f.input :first_name, label: "Vorname" %>
      <%= f.input :last_name, label: "Nachname" %>
      <%= f.input :street_name, label: "Straße" %>
      <%= f.input :street_number, label: "Nr." %>
      <%= f.input :zip_code, label: "PLZ" %>
      <%= f.input :city, label: "Ort" %>
      <%= f.input :email, label: "E-Mail" %>

      <div class="form-actions">
       <!-- <%= link_to "Zurück", url_for(:controller => "order_tickets_workflow", :action => "select_extras"), :class => 'btn' %>  -->
        <%= f.button :submit, "Weiter", :class => 'btn btn-warning' %>
      </div>

  <% end %>







</div>