
<%= javascript_tag "var max_available_amount = #{@selected_table.seat.quantity}" %>
<%= javascript_tag "var start_amount = #{1}" %>
<%= javascript_include_tag "order_tickets_workflow/select_amount_of_seats" %>

<h3>Wie viele Karten möchten Sie bestellen?</h3>
<table class="form-inline">
  <tr class="hide_if_no_icon">
    <td><h3 id="amount-field"></h3></td>
    <td><h3>x&nbsp;</h3></td>
    <td>
      <div class="btn-group btn-group-vertical">
        <button type="button" class="btn btn-warning" id="plus-button"><i class="icon-plus-sign"></i></button>
        <button type="button" class="btn btn-warning" id="minus-button"><i class="icon-minus-sign"></i></button>
      </div>
    </td>
    <td><h3>&nbsp;</h3></td>
    <td><h3>Karte(n) à <%= @selected_table.get_price_per_seat %> € an <%= @selected_table.caption %></h3></td>
  </tr>
</table>


<h4>(<%= @selected_table.get_number_of_available_seats %> von <%= @selected_table.seat.quantity %> Plätzen
  an <%= @selected_table.caption %> frei.)</h4>

<hr>

<h4>Im Kartenpreis von <%= @selected_table.get_price_per_seat %> &euro; enthalten sind:
  <ul>
    <li><h4>alle nicht-alkoholischen Getränke</h4></li>
    <li><h4>alle Bier-, Wein- und Sektsorten des Hauses</h4></li>
    <li><h4>ausgewählte Cocktails</h4></li>
    <li><h4>frisch gebrühter Kaffee und Tee</h4></li>
    <li><h4>der beliebte Mitternachtskrapfen</h4></li>
  </ul>
</h4>
<hr>
<h4>Kulinarische Köstlichkeiten können auf der nächsten Seite separat gebucht werden.</h4>

<hr>

<%= form_tag url_for(:controller => "order_tickets_workflow", :action => "receive_selected_amount_of_seats"), :method => "put" %>
<%= hidden_field_tag :selected_amount_of_seats, "" %>


<div class="form-actions">
  <%= link_to("Anderen Tisch wählen", url_for(:controller => "order_tickets_workflow", :action => "select_table"), {:class => "btn"}) %>
  <%= submit_tag("Weiter", :class => "btn btn-warning") %>
</div>




