<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
Es wurde eine neue Gutscheinbestellung über die Website abgegeben:<br>
<table>
  <% @rows.each do |row| %>
      <tr>
        <% row.each do |field| %>
            <td><%= field.to_s %></td>
        <% end %>
      </tr>
  <% end %>
</table>
<br>

Gutscheinnummer: <%= @gift_card_number_string %>
Zahlungsart: <%= @payment_method_string %>

Kunde: <br>
<%= "#{@customer.salutation} #{@customer.first_name} #{@customer.last_name}" %>
<%= "#{@customer.street_name} #{@customer.street_number}" %>
<%= "#{@customer.zip_code} #{@customer.city}" %>
<%= "#{@customer.email}" %><br>
<br>
Der Kunde hat eine E-Mail-Bestellbestätigung erhalten.


</body>


