<%= link_to "Dance-Discounter", root_path, :class => 'brand' %>
<ul class="nav">
  <% if user_signed_in? %>
      <li><p class="navbar-text"><%= "#{t('.logged_in_as')}: #{current_user.username}" %></p></li>
      <% if current_user.has_role? :manager %>
          <li><%= link_to "Übersicht anzeigen", url_for(:controller => "back_end", :action => "overview") %></li>

      <% end %>
      <% if current_user.has_role? :admin %>
          <li><%= link_to t('.administrate_users'), users_path %></li>
      <% end %>
      <li><%= link_to t('.logout'), destroy_user_session_path, :method=>'delete' %></li>
  <% end %>
</ul>
